#projects {
  padding: 3rem 14rem 3rem 10rem;
}
/* Bg image */
#projects #idea {
  top: 8rem;
  left: 6rem;
  width: 15rem;
}

/* Text */
#projects .main p {
  margin-bottom: 1rem;
  text-align: left;
}

/* Card list */
#projects #project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  flex-basis: 100%;
}
/* Card */
#projects #project-list .card {
  display: flex;
  justify-content: center;
  flex-grow: 0;
  margin: 0.8rem;
}
#projects #project-list .card .card-data {
  display: flex;
  flex-direction: column;
  background-color: #1f1f23;
  border-radius: 0.3rem;
}

/* Card -> image */
#projects #project-list .card .image-container {
  position: relative;
  overflow: hidden;
  border-radius: 0.3rem;
}

#projects #project-list .card .image-container .button-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: opacity 0.5s;

  z-index: 2;
}
#projects #project-list .card .image-container .button-container a {
  background-color: #2f314e;
  color: rgb(255, 255, 255, 0.2);
  cursor: pointer;
  font-size: 2.5rem;
  padding: 1rem 1.5rem;
  transition: color 0.5s;
  border-radius: 0.5rem;
}
#projects #project-list .card .image-container .button-container .right {
  border-radius: 0rem 0.5rem 0.5rem 0rem;
}
#projects #project-list .card .image-container .button-container .left {
  border-radius: 0.5rem 0rem 0rem 0.5rem;
}

#projects #project-list .card .image-container .button-container a:hover {
  color: white;
}
#projects #project-list .card .image-container img {
  width: 18rem;
  height: 100%;

  object-fit: cover;
  transition: filter 0.3s, transform 0.3s;
}
#projects #project-list .card .image-container:hover .button-container {
  opacity: 1;
}
#projects #project-list .card .image-container:hover img {
  filter: grayscale(50%) brightness(20%) contrast(90%);
  transform: scale(1.1);
}
/* Card -> body */
#projects #project-list .card .card-body {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
#projects #project-list .card .card-body .data-container h3 {
  margin-bottom: 0.5rem;
  max-width: 6rem;
}
#projects #project-list .card .card-body .data-container small {
  color: rgb(255, 255, 255, 0.4);
  font-weight: 700;
}
/* Card -> tag */
#projects #project-list .card .tag-container {
  display: flex;
  align-items: center;
}
#projects #project-list .card .tag-container .tag {
  font-weight: 300;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
  background-color: #232441;
  border-radius: 0.2rem;
  padding: 0.6rem 1.5rem !important;
}

/* Modal */
.project-modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(30, 30, 56, 0.9);
  z-index: 3;
  top: 0;
  left: 0;
  animation-name: ModalAnimation;
  animation-duration: 0.3s;
  transition: opacity 0.3s;
}
.project-modal .title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.project-modal .title-container h3 {
  font-size: 4rem;
  text-align: center;
}
.project-modal #link-list {
  position: relative;
  border-radius: 1rem 1rem 0 0;
  background-color: #2a2d5c;
  animation-name: ModalLinkAnimation;
  animation-duration: 0.6s;
}
.project-modal #link-list li {
  width: 100%;
  padding: 0rem 1.5rem;
  font-size: 1.5rem;
}
.project-modal #link-list li a {
  display: flex;
  padding: 1.5rem 0rem;
  align-items: center;
}

.project-modal #link-list li:first-child a {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
.project-modal #link-list li a .icon {
  font-size: 4rem;
  margin-right: 1rem;
}

/* Modal animation */
@keyframes ModalAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ModalLinkAnimation {
  0% {
    top: 40rem;
  }
  60% {
    top: 40rem;
  }
  100% {
    top: 0rem;
  }
}

@media (max-width: 1100px) {
  #projects {
    padding: 2rem 2.5rem 2rem 4.5rem;
  }

  /* Bg image */
  #projects #idea {
    left: -3rem;
  }

  #projects #project-list .card {
    margin: 1.5rem;
  }
  /* Card image*/
  #projects #project-list .card .image-container img {
    width: 22rem;
  }

  /* Identify */
  #projects #project-list .card .card-body .data-container h3 {
    font-size: 1.5rem;
    max-width: 10rem !important;
  }
  #projects #project-list .card .card-body .data-container small {
    font-size: 1.2rem;
  }
  #projects #project-list .card .tag-container .tag {
    font-size: 1.2rem;
  }
}

@media (max-width: 700px) {
  #projects {
    padding: 1rem 2.1rem;
  }

  /* Bg image */
  #projects #idea {
    top: 2rem;
    left: -1rem;
    width: 10rem;
  }

  /* Identify */
  #projects #project-list .card .tag-container .tag {
    padding: 1rem 1.5rem !important;
  }

  /* Card -> image (medium) */
  #projects #project-list {
    display: block;
    padding: 1rem;
  }
  #projects #project-list .card {
    margin-bottom: 3rem;
    padding: 0;
  }
  #projects #project-list .card .image-container img {
    width: 100%;
    height: auto;
  }
}
