/* Main container */
#contact {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* BG images */
#contact #pi {
  top: -3rem;
  left: -8rem;
  width: 21rem;
}
#contact #r {
  bottom: 2rem;
  right: -3rem;
  width: 19rem;
}

/* Title */
#contact h2 {
  margin-bottom: 3rem;
  text-align: right;
}

/* Main content */
#contact .main {
  display: flex;
  justify-content: center;
}
/* Notebook */
#contact .main #notebook {
  width: 50%;
  margin-right: 3rem;
}
/* Contact data */
#contact .main #contact-container {
  position: relative;
  background-color: #1f1f23;
  padding: 2.5rem 3rem 3rem 2rem;
  border-radius: 0.5rem;
}
#contact .main #contact-container p {
  margin-bottom: 1.5rem;
  margin-top: 0;
  text-indent: 1.5rem;
}
#contact .main #contact-container ul {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
}
#contact .main #contact-container ul li {
  padding: 1rem;
  cursor: pointer;
  padding: 0.5rem 0.5rem 0rem 0.5rem !important;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.25);
  border-color: transparent !important;

  margin-right: 1rem;
  margin-top: 1rem;
  font-size: 2rem;

  transition: border 0.3s, box-shadow 0.3s, color 0.3s, text-shadow 0.3s,
    background-color 0.3s;
}
#contact .main #contact-container ul li a {
  color: #1f1f23;
  transition: color 0.3s;
}
#contact .main #contact-container ul li:hover {
  background-color: rgba(255, 255, 255);
}
#contact .main #contact-container ul li:hover a {
  color: #34343b;
}

#contact .main #contact-container ul #xicara {
  position: relative;
  right: -1rem;
  margin-top: -1rem;
}

@media (max-width: 700px) {
  /* Screen */
  #contact {
    padding: 3rem;
  }

  /* Title */
  #contact h2 {
    font-size: 2.8rem;
  }

  /* BG images */
  #contact #pi {
    top: 4rem;
    width: 18rem;
  }
  #contact #r {
    bottom: 4rem;
    width: 16rem;
  }

  /* Notebook */
  #contact .main #notebook {
    display: none;
  }
  /* Container */
  #contact .main #contact-container {
    padding: 3rem;
  }
  #contact .main #contact-container ul li {
    background-color: transparent !important;
    box-shadow: none !important;
    padding: 0 !important;
    font-size: 4rem;
  }
  #contact .main #contact-container ul li a {
    color: white !important;
  }

  #contact .main #contact-container ul #xicara {
    position: absolute;
    bottom: -5rem;
    left: -2rem;
    width: 6rem;
  }
}
