/* Text */
#skills {
  margin-bottom: 9rem;
}
#skills .main .text-container {
  margin: 6rem 0rem 5rem 0rem;
}

/* Background image */
#skills #carousel-container {
  padding: 0rem 2rem;
  position: relative;
}
#skills #carousel-container #binary {
  top: 2rem;
  right: -10rem;
}

/* Carrossel */
#skills .carrossel {
  background-color: #1f1f23;
  position: relative;
  padding: 2.5rem 2rem 2rem 2rem;
  border-radius: 0.5rem;
}
#skills .carrossel .content-container {
  display: flex;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
#skills .carrossel .content-container .content {
  z-index: 1;

  display: flex;
  flex: 0 0 100%;
  scroll-snap-align: center;
  padding: 0rem 3rem 0rem 3rem;
}
#skills .carrossel .content-container .content.active {
  z-index: 2;
}
#skills .carrossel .identify-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
}
#skills .carrossel img {
  width: 10rem;
}
#skills .carrossel .label {
  display: block;
  margin-top: 2rem;
  text-align: center;
  width: 7rem;
  word-wrap: wrap;
  font-weight: 700;
  color: #cdcdcd;
  font-size: 1.3rem;
}
#skills .carrossel .content .data-container {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  top: 1rem;
  flex-direction: column;
  width: 100%;
  margin-left: 3rem;
}
#skills .carrossel .content .data-container .tag {
  background-color: rgba(196, 196, 196, 0.25);
  align-self: flex-end;
  padding: 0.5rem 1.8rem;
  font-size: 0.9rem;
  border-radius: 0.3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#skills .carrossel .content .data-container ul li {
  margin-bottom: 1rem;
  color: #888888;
}
#skills .carrossel .content .data-container ul span {
  color: #cdcdcd;
  font-size: 0.8rem;
}
#skills .carrossel .content .data-container ul .line {
  position: relative;
  display: flex;
  align-items: center;
}
#skills .carrossel .content .data-container ul .line .bg-line {
  background-color: #888888;
  width: 100%;
  height: 2px;
}
#skills .carrossel .content .data-container ul .line .grow {
  height: 4px;
  position: absolute;

  transition: width 1s;
}
#skills .carrossel .content .data-container ul .line .ball {
  font-size: 0.9rem;
}
#skills .carrossel .control {
  display: flex;
  color: #888888;
  font-size: 0.5rem;

  justify-content: center;
  margin-top: 0.5rem;
}
#skills .carrossel .control li {
  cursor: pointer;
  margin-left: 1.8rem;
}
#skills .carrossel .control li svg {
  transition: color 0.5s, box-shadow 0.5s, text-shadow 0.5s;
}
#skills .carrossel .control li:hover svg {
  color: white;
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.9),
    inset 0 0 1rem rgba(255, 255, 255, 0.4);
  border-color: white;
  border-radius: 50%;
  text-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5);
}
#skills .carrossel .control li:first-child {
  margin-left: 0rem;
}
#skills .carrossel .control li.active svg {
  color: white;
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.9),
    inset 0 0 1rem rgba(255, 255, 255, 0.4);
  border-color: white;
  border-radius: 50%;
  text-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5);
}

/* Medium */
@media (max-width: 1100px) {
  #skills .main #big-skills li {
    font-size: 4.5rem;
    color: #cdcdcd !important;
    padding: 1.5rem 3rem;
    cursor: pointer;
    text-shadow: 0 0 1rem rgb(219, 219, 219, 0.7);
  }
  #skills .main #big-skills li span {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
}

@media (max-width: 700px) {
  /* Text mobile */
  #skills .main .text-container {
    margin: 5rem 0rem 2rem 0rem;
  }

  /* Big skills mobile */
  #skills .main #big-skills {
    justify-content: center;
    margin-bottom: 2.5rem;
  }
  #skills .main #big-skills li {
    font-size: 4.5rem;
    color: #cdcdcd !important;
    padding: 1.5rem 3rem;
    text-shadow: 0 0 1rem rgb(219, 219, 219, 0.7);
  }
  #skills .main #big-skills li span {
    font-size: 1rem;
    margin-top: 0.5rem;
  }

  /* Background image mobile */
  #skills #carousel-container #binary {
    position: absolute;
    z-index: -1;
    top: -8rem;
    right: -8rem;
    object-fit: contain;
  }

  /* Carousel mobile */
  #skills #carousel-container {
    padding: 0;
  }
  #skills .carrossel {
    padding: 2rem 1rem 0rem 1rem;
  }
  #skills .carrossel .content {
    flex-direction: column;
    padding: 0;
  }
  #skills .carrossel .content .identify-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #skills .carrossel .content .identify-container .label {
    margin: 0;
    font-size: 1.7rem;
    text-align: end;
    line-height: 2.3rem;
    width: 8rem;
  }
  #skills .carrossel .content .identify-container img {
    width: 12rem;
  }
  #skills .carrossel .content .data-container {
    margin: 1rem 0rem 0rem 0rem;
    height: 100%;
    justify-content: space-between;
  }
  #skills .carrossel .content .data-container ul {
    justify-content: center;
  }
  #skills .carrossel .content .data-container ul span {
    font-size: 1rem;
  }
  #skills .carrossel .content .data-container .tag {
    align-self: flex-start;
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
  }
  #skills .carrossel .control {
    position: relative;
    top: -2.5rem;
    font-size: 0.75rem;
    justify-content: flex-end;
    padding-right: 2rem;
  }
}
