#side-navigation {
  position: relative;
  left: 0;
  color: white;
  transition: opacity 0.5s, left 0.5s;
}
#side-navigation li {
  margin: 1.9rem 1rem;
  transition: color 0.5s;
  font-size: 0.8rem;
}
#side-navigation li a {
  color: rgba(255, 255, 255, 0.3);
}
#side-navigation li a svg {
  transition: box-shadow 0.5s, color 0.5s;
}

#side-navigation li a.active svg,
#side-navigation li a:hover svg {
  color: white;
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.9),
    inset 0 0 1rem rgba(255, 255, 255, 0.4);
  border-color: white;
  border-radius: 50%;
}

@media (max-width: 700px) {
  #side-navigation {
    display: none;
  }
}
